.header
  display: flex
  justify-content: space-between
  margin-top: 26px
  margin-bottom: 26px

  +thin
  .button
    border-radius: 22px
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    color: white
    padding: 9px 20px 10px 19px
