.header
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 26px
  background-color: #fff
  padding-bottom: 26px
  +thin

.logo
  margin-left: 140px

.button
  border-radius: 22px
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  border: 2px solid
  color: white

  div
    background-color: #fff
    color: rgba(188, 156, 255, 1)
    margin: 3px
    padding: 10px 20px 10px 19px
    border-radius: 22px
    text-transform: uppercase
    +semiBold
