.rectangle
  position: absolute
  background-color: white
  height: 374px
  width: 380px
  left: 140px
  top: 140px
  border-radius: 4px
  +semiBold
  .name
    padding: 40px 30px
  .input
    text-transform: uppercase
.dates-wrapper
  display: flex
  justify-content: space-between
.guests
  display: flex
  justify-content: space-between
