footer 
  div.footer
    div 
      img(src="./image/Group 1.svg")
      div Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    div 
      div Навигация 
      div О нас 
      div Новости 
      div Служба поддержки 
      div Услуги
    div 
      div О нас
      div О сервесе
      div Наша команда
      div Вакансии
      div Инвесторы
    div 
      div Служба поддержки
      div Соглашения
      div Сообщества
      div Связь с нами 
    div 
      div Подписка
      div Получайте специальные уведомления
      input(placeholder="Email")

      
      
