header 
  div.header
    div Toxin
    div О нас 
    div Услуги
    div Вакансии
    div Новости
    div Соглашения
    button.button 
      div Войти
    button.button 
      div Зарегестрироваться
      
