div.rectangle
  h2.name Найдем номера под ваши пожелания
  //- div#date_range
  div.dates-wrapper
    div Прибытие
      input(placeholder="ДД.ММ.ГГГГ" name="startDate").setting#date_range
    div Выезд
      input(placeholder="ДД.ММ.ГГГГ" name="endDate").setting#date_range
  div.guests
    div Гости
    input(placeholder="Сколько гостей" name='myname').setting#width
    button.button#rec Подобрать номер
  
  script 
    include ../js/script.js
