div.rectangle
  h2.name Найдем номера под ваши пожелания
  div.dates-wrapper
    div Прибытие
      input(placeholder="ДД.ММ.ГГГГ").setting
    div Выезд
      input(placeholder="ДД.ММ.ГГГГ").setting
  div.guests
    div Гости
    input(placeholder="Сколько гостей").setting#width
    button.button#rec Подобрать номер