div.rectangle
  h2.name Найдем номера под ваши пожелания
  div.input
    div.dates-wrapper
      div Прибытие
        input(placeholder="123")
      div Выезд
        input(placeholder="123")
    div.guests
      div Гости
        input(placeholder="123")
    button Подобрать номер