.rectangle
  h2.rectangle__name Найдем номера под ваши пожелания
  //- div#date_range
  .rectangle__dates-wrapper
    .rectangle__check 
      .check Прибытие
      input(placeholder="ДД.ММ.ГГГГ" name="startDate").setting#date_range
    .rectangle__check-out 
      .check-out Выезд
      input(placeholder="ДД.ММ.ГГГГ" name="endDate").setting#date_range
  .rectangle__guests
    .guests Гости
    .iqdropdown.setting#width
      p.iqdropdown-selection
      .iqdropdown-menu
        .iqdropdown-menu-option(data-id="item1")
          div
            p.iqdropdown-item Взрослые
    button.button#rec Подобрать номер

  script 
    include ../js/script.js
